<ion-header>
    <ion-toolbar>
        <ion-title>
            Native PWA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="formgroup">
        <ion-list>
            <ng-container *ngFor="let element of formElements">
                <ion-item lines="inset">
                    <ion-label position="stacked">{{element.formLabel}}
                        <ion-text color="{{colors.danger}}" *ngIf="element.getIsRequired()">*</ion-text>
                    </ion-label>
                    <ng-container [ngSwitch]="element.elementType">
                        <ion-input *ngSwitchCase="controlTypes.Textbox" [formControlName]="element.elementId" type="text"></ion-input>
                    </ng-container>
                </ion-item>
                <ng-container *ngIf="element.isInValid()">
                    <ion-text *ngIf="element.errors().required" color="{{colors.danger}}">
                        <span class="errormsg">{{element.formLabel}} is required.</span>
                    </ion-text>
                </ng-container>
            </ng-container>
        </ion-list>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" [disabled]="!formgroup.valid">Save</ion-button>
        </div>
    </form>
</ion-content>
